header {
    margin: -8px;
    padding: 0px;
}

.header1 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.lang {
    display: inline-block;
}

.lang select {
    background-color: crimson;
    width: 10em;
    margin-left: 30px;
    height: 30px;
}

.lang option[value] {
    font-size: 1.2em;
    text-align: center;
    color: darkblue;
    background-color: grey;
}
.header1 nav {
    display: flex;
    gap: 20px;
}

.header1 nav li {
    list-style: none;
}

.header1 nav li a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 6%;
    border-radius: 20px;
}
.header2{
    background-color: palegreen;
    color: darkblue;
}
.header2 input,h1,p{
    display: inline-block;
}
.header2 input{
    margin-left: 30px;
    height: 30px;
}
.header2 h1{
    margin-left: 520px;
    border: 2px solid darkblue;
    border-radius: 10px;
}
.header2 p{
    font-size: 1.2em;
    margin-left: 580px;
}
.header3{
    background-color: palegreen;
}
.header3 nav{
    width: 950px;
    margin: auto;
}
.header3 li{
    display: inline-block;
}
.header3 li a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    margin: 30px;
    padding-bottom: 5px;
    color: darkblue;
}